@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;700&display=swap');

:root {
  --font-nunito: 'Nunito', sans-serif;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: var(--font-nunito-400);
  background-color: #d6a731; /* Fond crème clair */
  color: #91662a; /* Marron foncé */
  padding-top: 20px;
}
