@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Merriweather', serif;
  background-color: #d6a731; /* Fond creme clair */
  color: #91662a; /* Marron foncé */
}